* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background: #23252C;
    background: #ffffff;
    min-height: 100%;
}
.card{
    background: #1A1B21;
    position: relative;
    margin: 30px auto;
    width: 317px;
    top: 100%;
    border-radius: 10px;
}
.mug{
    width: 317px;
    height: 317px;
}
footer{
    background: #161619;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 10px;
}
footer a{
    padding: 10px;
}
footer img{
    height: 25px;
}
.main{
    padding: 0px 35px;
}
.mainhead{
    color: #F5F5F5;
    font-size: 1rem;
    font-weight: 700;
}
.mainpara{
    color: #DCDCDC;
    font-size: 10px;
    margin-bottom: 25px;
    line-height: 15px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.name{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
    padding: 7px;
}
.pos{
    font-size: 15.5px;
    font-weight: 400;
    color: #F3BF99;
    padding-bottom: 5px;
}
.web{
    font-size: 10px;
    line-height: 15px;
}
.btn-grp{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0px;
}
button{
    width: 115px;
    padding: 9px 11px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button img{
    margin: 0px 5px;
    height: 15px;
}
#email{
    color: #374151;
}
#linkedin{
    background-color: #5093E2;
}
